nav {
    ul {
        padding: 0;
    }
    .nav-brand {
        display: block
    }

    .nav-links {
        float: left;
        li {
            display: inline-block;
            a {
            }
        }
    }
}
