// themes
h1, h2, h3, h4, h5, h6 {
    color: #444;
}

p {
    color: #555;
}

nav {
    margin-top: 1em;
    .links {

      padding-top: 1px solid gray;
      padding-bottom: 1px solid gray;

      li, a {
        color: #444;
      }
    }

}

.date {
    color: #666;
    font-size: 0.8em;
}

.author {
    color: #4e6c99;
    font-size: 0.9em;
}

body {
    background: #f2f4f7;
    .main {
        z-index: 2;
        padding: 1.5em;
        background: #fff;
        box-shadow: 0px 2px 3px $stone;
    }
}
